{{ `<!-- _default/list.html -->` | safeHTML }}
{{ partial "header.html" . }}

{{if .Params.image}}
	{{if or (eq (substr .Params.image 0 7) "http://") (eq (substr .Params.cover 0 8) "https://")}}
  <header class="main-header tag-head" style="background-image: url({{.Params.image}})">
  {{ else }}
  <header class="main-header tag-head" style="background-image: url({{.Params.image | relURL}})">
  {{ end }}
{{else if .Site.Params.cover}}
	 {{if or (eq (substr .Site.Params.cover 0 7) "http://") (eq (substr .Site.Params.cover 0 8) "https://")}}
  <header class="main-header tag-head" style="background-image: url({{.Site.Params.cover}})">
  {{ else }}
  <header class="main-header tag-head" style="background-image: url({{.Site.Params.cover  | relURL}})">
  {{ end }}
{{else}}
	<header class="main-header tag-head no-cover">
{{end}}
    <nav class="main-nav overlay clearfix">
      {{ if .Site.Params.logo }}
        <a class="blog-logo" href="{{.Site.BaseURL}}"><img src="{{ .Site.Params.logo | relURL }}" alt="Home" /></a>
      {{end}}
      {{ if .Site.Menus.main }}
          <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">Menu</span></a>
      {{else}}
        {{ if .Site.Params.RSSLink}}
          <a class="menu-button icon-feed" href="{{.Site.Params.RSSLink }}">&nbsp;&nbsp;Subscribe</a>
        {{end}}
      {{end}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{.Title}}</h1>
            <h2 class="page-description">
                {{if .Params.description}}
                    {{.Params.description}}
                {{end}}
            </h2>
        </div>
    </div>
</header>

<nav class="post breadcrumb">
  <li><a href="/">Home</a></li>
  {{ $currentNode := . }}
  {{ range .Site.Menus.main }}
    {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)}}
      <li><a href="{{.URL}}">{{.Name}}</a></li>
      {{ range .Children }}
        {{ if .HasChildren }}
          {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)}}
            <li><a href="{{.URL}}">{{.Name}}</a></li>
              {{ range .Children }}
                {{ if .HasChildren }}
                  {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)}}
                    <li><a href="{{.URL}}">{{.Name}}</a></li>
                  {{end}}
                {{end}}
              {{end}}
          {{end}}
        {{end}}
      {{end}}
    {{end}}
  {{end}}
  <!-- <li>{{.Title}}</li> -->
</nav>

<main class="content" role="main">
    {{ $paginator := .Paginator }}

	<div class="extra-pagination inner">
    {{ partial "pagination.html" $paginator }}
	</div>

	{{ range $index, $page := $paginator.Pages }}
	   {{ partial "li.html" . }}
	{{ end }}

	{{ partial "pagination.html" $paginator }}
</main>



{{ partial "footer.html" . }}